<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<style>
    body {
        padding-top: 80px;
        word-wrap: break-word;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .exam_details h2 {
        color: #1B7FB9;
        font-size: 3rem;
    }
    
    .exam_details h2 i,
    .exam_details h2 span {
        color: #7EAB51;
    }
    
    .border_tb {
        border-top: 2px solid #F5F5F5;
        border-bottom: 2px solid #F5F5F5;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .left_side,
    .right_side {
        border: 2px solid #E8E8E8;
        background-color: #F5F5F5;
        padding: 15px;
    }
    
    .left_side {
        margin-right: 10px;
    }
    
    .left_side button:hover {
        border: 1px solid #96c765;
        margin: 0;
        line-height: 3rem;
        padding: 10px 0;
        border-radius: 20px;
        width: 100%;
        /*margin: 15px;*/
        /*Gradiant color style*/
        background: #9ec674;
        background: -moz-linear-gradient(top, #9ec674 0%, #3b5a1b 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #9ec674), color-stop(100%, #3b5a1b));
        background: -webkit-linear-gradient(top, #9ec674 0%, #3b5a1b 100%);
        background: -o-linear-gradient(top, #9ec674 0%, #3b5a1b 100%);
        background: -ms-linear-gradient(top, #9ec674 0%, #3b5a1b 100%);
        background: linear-gradient(to bottom, #9ec674 0%, #3b5a1b 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9ec674 ', endColorstr='#3b5a1b', GradientType=0);
    }
    
    .left_side button {
        border: 1px solid #96c765;
        margin: 0;
        line-height: 3rem;
        padding: 10px 0;
        border-radius: 20px;
        width: 100%;
        /*margin: 15px;*/
        /*Gradiant color style*/
        background: #96c765;
        background: -moz-linear-gradient(top, #96c765 0%, #577d31 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #96c765), color-stop(100%, #577d31));
        background: -webkit-linear-gradient(top, #96c765 0%, #577d31 100%);
        background: -o-linear-gradient(top, #96c765 0%, #577d31 100%);
        background: -ms-linear-gradient(top, #96c765 0%, #577d31 100%);
        background: linear-gradient(to bottom, #96c765 0%, #577d31 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#96c765', endColorstr='#577d31', GradientType=0);
    }
    
    .right_side button {
        border: 1px solid #F79722;
        margin: 0;
        line-height: 3rem;
        padding: 10px 0;
        border-radius: 20px;
        width: 100%;
        /*margin: 15px;*/
        /*Gradiant color style*/
        background: #fcb660;
        background: -moz-linear-gradient(top, #fcb660 0%, #f7941b 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #fcb660), color-stop(100%, #f7941b));
        background: -webkit-linear-gradient(top, #fcb660 0%, #f7941b 100%);
        background: -o-linear-gradient(top, #fcb660 0%, #f7941b 100%);
        background: -ms-linear-gradient(top, #fcb660 0%, #f7941b 100%);
        background: linear-gradient(to bottom, #fcb660 0%, #f7941b 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcb660', endColorstr='#f7941b', GradientType=0);
    }
    
    .right_side button:hover {
        border: 1px solid #F79722;
        margin: 0;
        line-height: 3rem;
        padding: 10px 0;
        border-radius: 20px;
        width: 100%;
        /*margin: 15px;*/
        /*Gradiant color style*/
        background: #feb051;
        background: -moz-linear-gradient(top, #feb051 0%, #d87a08 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #fcb660), color-stop(100%, #d87a08));
        background: -webkit-linear-gradient(top, #feb051 0%, #d87a08 100%);
        background: -o-linear-gradient(top, #feb051 0%, #d87a08 100%);
        background: -ms-linear-gradient(top, #feb051 0%, #d87a08 100%);
        background: linear-gradient(to bottom, #feb051 0%, #d87a08 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#feb051', endColorstr='#d87a08', GradientType=0);
    }
    
    .right_side {
        margin-left: 10px;
    }
    
    .left_side button {
        text-align: center;
        color: #fff;
        font-size: 2rem;
    }
    
    .left_side button i {
        font-size: 4rem;
        color: #fff;
    }
    
    .btn_ns:hover,
    .btn_ns:focus,
    .btn_ns.focus {
        color: #fff;
    }
    
    .right_side button {
        text-align: center;
        color: #fff;
        font-size: 2rem;
    }
    
    .right_side button i {
        font-size: 4rem;
        color: #fff;
    }
    
    .left_side ul,
    .right_side ul {
        padding: 0;
        margin-top: 20px;
    }
    
    .left_side ul li,
    .right_side ul li {
        color: #333;
        list-style: none;
        font-size: 1.5rem;
    }
    
    .left_side ul li i {
        color: #7EAB51;
    }
    
    .right_side ul li i {
        color: #FFAB38;
    }

</style>


<body>
    <% include sidebar/dashboard-sidebar.ejs %>

        <div id="loadingcustom">
            <% include partials/loadingCustom.ejs %>
        </div>


        <div class="container exam_details">
            <div class="row">
                <h2><i class="fa fa-user"></i>Welcome to <span>Online Examination System</span> , Begain your practice right away. </h2>
                <div class="col-md-12 col-lg-12 border_tb">
                    <div class="row">
                        <div class="">
                            <div class="col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="left_side">
                                        <a href="/examstart">
                                            <button type="button" class="btn btn_ns"><i class="fa fa-pencil-square-o"></i>
                                                <br> Start Exam </button>
                                        </a>
                                        <ul>
                                            <li><i class="fa fa-check"></i> Every question is mcq based </li>
                                            <li><i class="fa fa-check"></i> You get 3 minites for every exam </li>
                                            <li><i class="fa fa-check"></i> You get 10 question for every exam </li>
                                            <li><i class="fa fa-check"></i> Questin will appear randomly </li>
                                            <li><i class="fa fa-check"></i> You get alert in every single question </li>
                                            <li><i class="fa fa-check"></i> Every correct answer carry 1 mark </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="right_side">
                                        <a href="/practisestart">
                                            <button type="button" class="btn btn_ns"><i class="fa fa-pencil-square-o"></i>
                                                <br> Start Practice</button>
                                        </a>
                                        <ul>
                                            <li><i class="fa fa-check"></i> Just prctice and learn </li>
                                            <li><i class="fa fa-check"></i> There is no time limit </li>
                                            <li><i class="fa fa-check"></i> There is no score </li>
                                            <li><i class="fa fa-check"></i> You can not choose any category </li>
                                            <li><i class="fa fa-check"></i> All categories will come one randomly </li>
                                            <li><i class="fa fa-check"></i> Pratice makes a man perfect </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body>
<script>
    setTimeout(function() {
        $('#loadingcustom').fadeOut('fast');
    }, 2000);

</script>



</html>
