<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">
    <link href="css/examrandom.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <% include sidebar/dashboard-sidebar %>



        <form id="form1" runat="server" style="margin-left:60px; margin-top:60px;">
            <div class="container text-center">
                <table width="100%" align="center">
                    <ul class="clock_right">
                        <h3>Time left :</h3>
                        <li>
                            <h1><span>{{min}}</span> <br> <b>MINUTES</b> </h1></li>
                        <li>
                            <h2><span>{{sec}}</span> <br> <b>SECONDS</b> </h2></li>
                    </ul>
                </table>
            </div>
        </form>





        <div class="container text-center" style="margin-left:60px; margin-top:30px; margin-right:50px;">
            <h1> Your score is :<span> {{score}} </span></h1>

            <h3> Your topic : {{ques.categories}} </h3>
            <!--            <h4> section : {{section.sections}} </h4>-->
            <h2> {{ques.question}} </h2>
            <p>
                <button type="button" class="btn btn-default" ng-click="nextquestion(1)">{{ques.option1}}</button>

            </p>
            <p>
                <button type="button" class="btn btn-default" ng-click="nextquestion(2)">{{ques.option2}}</button>

            </p>
            <p>
                <button type="button" class="btn btn-default" ng-click="nextquestion(3)">{{ques.option3}}</button>

            </p>
            <p>
                <button type="button" class="btn btn-default" ng-click="nextquestion(4)">{{ques.option4}}</button>

            </p>

        </div>




        <script>
            var app = angular.module('myApp', []);



            app.service('scoreService', function() {
                var _Score = {};
                this.Score = _Score;
            })



            app.controller('myCtrl', function($scope, $http, $location, $timeout, scoreService) {

                var valuee = $location.url();
                var onlyvalue = valuee.slice(1);
                console.log(onlyvalue);
                var refresh = function() {
                    $http({
                        method: 'POST',
                        url: 'getarandomquestion',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                        },
                        params: {
                            categories: onlyvalue
                        }
                    }).then(function successCallback(response) {
                        if (response) {
                            //console.log(response);
                            if (response.data) {
                                $scope.ques = response.data;
                                $scope.answers = response.data.answers;
                                //console.log(response.data);
                            }
                        } else {
                            console.log(response.data);
                        }
                    }, function errorCallback(response) {
                        console.log(response);
                    });
                }
                refresh();



                $scope.score = scoreService.Score;



                $scope.nextquestion = function(value) {
                    $scope.checkanswer(value);
                    $scope.scoreFunction(value);
                    refresh();
                };




                // timer
                $scope.sec = 60;
                $scope.min = 2;
                $scope.onTimeout = function() {

                    if ($scope.sec == 0) {
                        $scope.sec = 60;

                        $scope.min--;
                        if ($scope.min == -1) {
                            $scope.stop();
                            location.href = "reports";
                        }
                    } else {
                        $scope.sec--;
                    }
                    mytimeout = $timeout($scope.onTimeout, 1000);
                }
                var mytimeout = $timeout($scope.onTimeout, 1000);

                $scope.stop = function() {
                    $timeout.cancel(mytimeout);
                }




                //check right answer
                $scope.checkanswer = function(value) {

                    if (value == 1) {
                        if ($scope.answers.option1 == true) {
                            console.log('right answer');
                            swal("Good job!", "Correct Answer & score added!", "success");
                        } else {
                            console.log('wrong answer');
                            swal("Oops!", "Sorry , wrong answer!", "error");
                        }
                    }

                    if (value == 2) {
                        if ($scope.answers.option2 == true) {
                            console.log('right answer');
                            swal("Good job!", "Correct Answer & score added!", "success");
                        } else {
                            console.log('wrong answer');
                            swal("Oops!", "Sorry , wrong answer!", "error");
                        }
                    }

                    if (value == 3) {
                        if ($scope.answers.option3 == true) {
                            console.log('right answer');
                            swal("Good job!", "Correct Answer & score added!", "success");
                        } else {
                            console.log('wrong answer');
                            swal("Oops!", "Sorry , wrong answer!", "error");
                        }
                    }

                    if (value == 4) {

                        if ($scope.answers.option4 == true) {
                            console.log('right answer');
                            swal("Good job!", "Correct Answer & score added!", "success");
                        } else {
                            console.log('wrong answer');
                            swal("Oops!", "Sorry , wrong answer!", "error");
                        }
                    }
                }





                //checkscore
                $scope.score = 0;
                $scope.scoreFunction = function(value) {
                    if (value == 1) {
                        if ($scope.answers.option1 == true) {
                            $scope.score++;
                        } else {
                            console.log('no score ');
                        }
                    }
                    if (value == 2) {
                        if ($scope.answers.option2 == true) {
                            $scope.score++;

                        } else {
                            console.log('no score ');
                        }
                    }
                    if (value == 3) {
                        if ($scope.answers.option3 == true) {
                            $scope.score++;

                        } else {
                            console.log('no score ');
                        }
                    }
                    if (value == 4) {
                        if ($scope.answers.option4 == true) {
                            $scope.score++;

                        } else {
                            console.log('no score ');
                        }
                    }

                    console.log('total score' + $scope.score);
                }

            });

        </script>

</body>

</html>
