<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>

<style>
    .btn {
        margin-top: 15px;
        text-align: center;
    }
    
    .btn-success {
        width: 30%;
        padding: 17px 0%!important;
        border-radius: 15px!important;
        font-size: 2rem!important;
        border: 1px solid #50712E;
        color: #fff;
    }
    
    .btn .btn-success:hover,
    .btn-success.focus {
        color: #333;
        text-decoration: none;
    }
    
    html {
        box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.4);
        height: 100%;
    }
    
    body {
        background: #e1e1e1;
        height: 100%;
        margin: 0 auto;
        padding: 3%;
        width: 100%;
    }
    /* begin, shall we */
    
    #vans {
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.4);
        height: 256px;
        margin: 0 auto;
        position: relative;
        width: 600px;
        background: /* s */
        radial-gradient(center, ellipse cover, rgba(106, 0, 0, 1) 0%, rgba(106, 0, 0, 1) 55%, rgba(106, 0, 0, 0) 55%), linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%), linear-gradient(233deg, transparent 40%, #6a0000 40%, #6a0000 60%, transparent 60%), radial-gradient(center, ellipse cover, rgba(256, 256, 256, 1) 0%, rgba(256, 256, 256, 1) 55%, rgba(256, 256, 256, 0) 55%), radial-gradient(center, ellipse cover, rgba(106, 0, 0, 1) 0%, rgba(106, 0, 0, 1) 55%, rgba(106, 0, 0, 0) 55%), radial-gradient(center, ellipse cover, rgba(256, 256, 256, 1) 0%, rgba(256, 256, 256, 1) 55%, rgba(256, 256, 256, 0) 55%), /* v */
        linear-gradient(15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%), linear-gradient(-15deg, transparent 40%, #fff 40%, #fff 60%, transparent 60%), linear-gradient(-15deg, transparent 10%, #fff 10%, #fff 90%, transparent 90%), /* a */
        linear-gradient(-15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%), linear-gradient(15deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%), linear-gradient(top, transparent 45%, #fff 45%, #fff 60%, transparent 60%), /* n */
        linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%), linear-gradient(27deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%), linear-gradient(0deg, transparent 45%, #fff 45%, #fff 60%, transparent 60%), /* div */
        #6a0000;
        background-position: /* s */
        475px 173px, 436px 126px, 487px 107px, 420px 121px, 475px 100px, 420px 52px, /* v */
        0px 10px, 70px 10px, 145px 10px, /* a */
        120px 70px, 168px 70px, 220px 100px, /* n */
        178px 70px, 265px 70px, 270px 70px;
        /* div */
        background-repeat: no-repeat;
        background-size: /* s */
        40px 40px, 66px 80px, 66px 80px, 150px 145px, 40px 40px, 150px 145px, /* v */
        188px 236px, 188px 236px, 456px 40px, /* a */
        188px 176px, 188px 176px, 50px 195px, /* n */
        268px 176px, 188px 176px, 268px 176px, /* div */
        656px 256px;
    }

</style>

<body ng-app="myApp" ng-controller="myCtrl">
    <% include sidebar/dashboard-sidebar %>


        <div class="container text-center" style="margin-left:60px; margin-top:80px; margin-right:50px;">

            <div id="loadingcustom">
                <% include partials/loadingCustom.ejs %>
            </div>

            <div id="vans">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Choose Examination Categories: </h3>
                    <select class="form-control" ng-submit="ques.categories" id="category">
                        <option value="" id=""></option>
                        <option value="Javascript" id="categories">Javascript</option>
                        <option value="Java" id="categories">Java</option>
                        <option value="Networking" id="categories">Networking</option>
                        <option value="html" id="categories">HTML & Webpage Design</option>
                    </select>
                    <br>

                    <h4>Choose section: </h4>
                    <select class="form-control" ng-submit="section.sections" id="section">
                        <option value="" id=""></option>
                        <option value="hard" id="sections">hard</option>
                        <option value="easy" id="sections">easy</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>


            <a ng-click="btnclicked()" class="btn btn-success"> Save & Go </a>


        </div>

</body>

<script>
    setTimeout(function() {
        $('#loadingcustom').fadeOut('fast');
    }, 2000);




    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope, $http, $location) {

        $('#category').change(function() {
            //console.log($(this).val());
            var val = $(this).val();

            $scope.selectedValue = val;
            console.log($scope.selectedValue);
        });



        $('#section').change(function() {
            //console.log($(this).val());
            var val = $(this).val();

            $scope.selectedsection = val;
            console.log($scope.selectedsection);
        });



        $scope.btnclicked = function(value) {
            swal({
                title: "Are you sure?",
                text: "Are you ready for exam ???",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "yes!, I am ",
                confirmButtonColor: "#ec6c62"
            }, function() {
                swal({
                    title: "Your time start now",
                    timer: 3000,
                    showConfirmButton: false
                });
                $.ajax({
                        url: '/examrandom#?',
                    })
                    .done(function(response) {
                        location.href = ('/examrandom#?' + $scope.selectedValue);
                        console.log(response.data);
                        refresh();
                    })
                    .error(function(data) {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    });
            });
        }


    });

</script>

</html>
