<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Examination System</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <link href="css/dashboard-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>

<style>
    .btn {
        margin-top: 15px;
        text-align: center;
    }
    
    .btn-success {
        width: 30%;
        padding: 17px 0%!important;
        border-radius: 15px!important;
        font-size: 2rem!important;
        border: 1px solid #50712E;
        color: #fff;
    }
    
    .btn .btn-success:hover,
    .btn-success.focus {
        color: #333;
        text-decoration: none;
    }

</style>

<body ng-app="myApp" ng-controller="myCtrl" style="background-color: #5FA2DB;">
    <% include sidebar/dashboard-sidebar %>


        <div class="container text-center" style="margin-left:60px; margin-top:80px; margin-right:50px;">

            <div id="loadingcustom">
                <% include partials/loadingCustom.ejs %>
            </div>



            <h3>Choose Examination Categories: </h3>
            <select class="form-control" ng-submit="ques.categories" id="category">
                <option value="" id=""></option>
                <option value="Javascript" id="categories">Javascript</option>
                <option value="Java" id="categories">Java</option>
                <option value="Networking" id="categories">Networking</option>
                <option value="html" id="categories">HTML & Webpage Design</option>
            </select>
            <br>

            <h4>Choose section: </h4>
            <select class="form-control" ng-submit="section.sections" id="section">
                <option value="" id=""></option>
                <option value="day" id="sections">Day</option>
                <option value="eve" id="sections">Evening</option>
            </select>
            <br>
            <a ng-click="btnclicked()" class="btn btn-success"> Save & Go </a>





        </div>

</body>

<script>
    setTimeout(function() {
        $('#loadingcustom').fadeOut('fast');
    }, 2000);




    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope, $http, $location) {

        $('#category').change(function() {
            //console.log($(this).val());
            var val = $(this).val();

            $scope.selectedValue = val;
            console.log($scope.selectedValue);
        });



        $('#section').change(function() {
            //console.log($(this).val());
            var val = $(this).val();

            $scope.selectedsection = val;
            console.log($scope.selectedsection);
        });



        $scope.btnclicked = function(value) {
            swal({
                title: "Are you sure?",
                text: "Are you ready for exam ???",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "yes!, I am ",
                confirmButtonColor: "#ec6c62"
            }, function() {
                swal({
                    title: "Your time start now",
                    timer: 3000,
                    showConfirmButton: false
                });
                $.ajax({
                        url: '/examrandom#?',
                    })
                    .done(function(response) {
                        location.href = ('/examrandom#?' + $scope.selectedValue);
                        console.log(response.data);
                        refresh();
                    })
                    .error(function(data) {
                        swal("Oops", "We couldn't connect to the server!", "error");
                    });
            });
        }


    });

</script>

</html>
