<!doctype html>
<html>

<head>
    <title>Online Examination System</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            background: #c1bdba;
            font-family: 'Titillium Web', sans-serif;
        }
        
        a {
            text-decoration: none;
            color: #1ab188;
            -webkit-transition: .5s ease;
            transition: .5s ease;
        }
        
        a:hover {
            color: #179b77;
        }
        
        .form {
            background: rgba(19, 35, 47, 0.9);
            padding: 40px;
            max-width: 600px;
            margin: 40px auto;
            border-radius: 4px;
            box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        }
        
        .header_signup {
            background: #179b77;
            color: #fff;
            margin: 0 0 40px 0;
            font-size: 20px;
            padding: 15px;
        }
        
        h1 {
            text-align: center;
            color: #ffffff;
            font-weight: 300;
            margin: 0 0 40px;
        }
        
        label {
            position: absolute;
            -webkit-transform: translateY(6px);
            transform: translateY(6px);
            left: 13px;
            color: rgba(255, 255, 255, 0.5);
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease;
            -webkit-backface-visibility: hidden;
            pointer-events: none;
            font-size: 15px;
        }
        
        label .req {
            margin: 2px;
            color: #1ab188;
        }
        
        label.active {
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
            left: 2px;
            font-size: 14px;
        }
        
        label.active .req {
            opacity: 0;
        }
        
        label.highlight {
            color: #ffffff;
        }
        
        input,
        textarea {
            font-size: 22px;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px 10px;
            background: none;
            background-image: none;
            border: 1px solid #a0b3b0;
            color: #ffffff;
            border-radius: 0;
            -webkit-transition: border-color .25s ease, box-shadow .25s ease;
            transition: border-color .25s ease, box-shadow .25s ease;
        }
        
        input:focus,
        textarea:focus {
            outline: 0;
            border-color: #1ab188;
        }
        
        textarea {
            border: 2px solid #a0b3b0;
            resize: vertical;
        }
        
        .field-wrap {
            position: relative;
            margin-bottom: 40px;
        }
        
        .top-row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        .top-row > div {
            float: left;
            width: 48%;
            margin-right: 4%;
        }
        
        .top-row > div:last-child {
            margin: 0;
        }
        
        .button {
            border: 0;
            outline: none;
            border-radius: 0;
            padding: 15px 0;
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: .1em;
            background: #1ab188;
            color: #ffffff;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -webkit-appearance: none;
        }
        
        .button:hover,
        .button:focus {
            background: #179b77;
        }
        
        .button-block {
            display: block;
            width: 100%;
        }
        
        .forgot {
            margin-top: -20px;
            text-align: right;
        }
        
        .notforgot1 {
            margin-top: -15px;
            text-align: left;
            color: #FFFFFF;
        }
        
        .notforgot2 {
            margin-top: -8px;
            text-align: left;
            color: #FFFFFF;
        }
        
        .form-control {
            background-color: #24323C !important;
            color: #fff!important;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>


                    <div class="form">
                        <div class="header_signup text-center">
                            <span class="fa fa-sign-in"></span> Signup
                        </div>

                        <h1> Sign Up for Free !</h1>
                        <form action="/signup" method="post">
                            <div class="form-group field-wrap">
                                <label>Email Address<span class="req">*</span></label>
                                <input type="text" class="form-control" name="email" required autocomplete="off">
                            </div>
                            <div class="form-group field-wrap">
                                <label> Password<span class="req">*</span></label>
                                <input type="password" class="form-control" name="password" required autocomplete="off">
                            </div>

                            <button class="button button-block">Signup & Get Started</button>
                        </form>
                        <hr>
                        <p class="notforgot1">Already have an account? <a href="/login">Login</a></p>
                        <p class="notforgot2">Or go <a href="/">home</a></p>
                    </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $('.form').find('input, textarea').on('keyup blur focus', function(e) {

        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            } else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });

</script>

</html>
